@tailwind base;
@tailwind components;
@tailwind utilities;
@import './prism.css';
@import 'prism-themes/themes/prism-coldark-dark.css';

@layer base {
  :root {
    --background: #f7f6f3;
    --foreground: #171717;
    --card: #C4C4C4;
    --card-foreground: #171717;
    --project: #C4C4C4;
    --project-foreground: #171717;
    --project-border: #171717;
    --popover: #ffffff;
    --popover-foreground: #171717;
    --primary: #1a202c;
    --primary-foreground: #ffffff;
    --secondary: #ecd79b;
    --secondary-foreground: #171717;
    --muted: #edf2f7;
    --muted-foreground: #718096;
    --accent: #edf2f7;
    --accent-foreground: #1a202c;
    --border: #54636b;
    --input: #e2e8f0;
    --ring: #1a202c;
    --radius: 0.75rem;

    --sidebar-background: #f7fafc;
    --sidebar-foreground: #2d3748;
    --sidebar-primary: #1a202c;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #edf2f7;
    --sidebar-accent-foreground: #1a202c;
    --sidebar-border: #e2e8f0;
    --sidebar-ring: #4299e1;

    --underline-color: #1a202c;
  }

  .dark {
    --background: #0d0d0e;
    --foreground: #f2eeee;
    --card: #9f797e;
    --card-foreground: #ffffff;
    --project: #C4C4C4;
    --project-foreground: #f3e7e7;
    --project-border: #9f9a9a;
    --popover: #2d3748;
    --popover-foreground: #ffffff;
    --primary: #ffffff;
    --primary-foreground: #1a202c;
    --secondary: #818da1;
    --secondary-foreground: #ffffff;
    --muted: #4a5568;
    --muted-foreground: #cbd5e0;
    --accent: #4a5568;
    --accent-foreground: #ffffff;
    --border: #4a484b;
    --input: #4a5568;
    --ring: #63b3ed;

    --sidebar-background: #2d3748;
    --sidebar-foreground: #edf2f7;
    --sidebar-primary: #ffffff;
    --sidebar-primary-foreground: #1a202c;
    --sidebar-accent: #4a5568;
    --sidebar-accent-foreground: #edf2f7;
    --sidebar-border: #4a5568;
    --sidebar-ring: #63b3ed;

    --underline-color: #63b3ed;
  }

  *,
  ::before,
  ::after {
    @apply border-border;
  }

  body {
    @apply bg-[var(--background)] text-[var(--foreground)] antialiased;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

@layer components {
  .pixel-card {
    @apply border-[3px] border-[var(--border)] shadow-[4px_4px_2px_0_var(--border)] bg-[var(--card)] text-[var(--card-foreground)];
    user-select: none;
    /* Prevent text selection */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }

  .pixel-card:active {
    @apply shadow-[0_0_0_0_var(--border)];
    transform: translate(6px, 6px);
  }

  .nav-item {
    @apply bg-[var(--secondary)] text-[var(--secondary-foreground)] transition-colors px-4 py-2;
  }
}

.katex-html {
  @apply hidden
}

.toc-item-h2 {
  @apply ml-4
}

::-webkit-scrollbar {
  @apply w-4 h-2;
}

::-webkit-scrollbar-track {
  @apply bg-[var(--muted)];
}

::-webkit-scrollbar-thumb {
  @apply bg-[var(--primary)] rounded-[4px] border-2 border-solid border-[var(--muted)];
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[var(--primary)];
}