.weichat-qr-code {
    position: relative;
}

.weichat-qr-code::after {
    content: url("../../public/weichat.jpg");
    position: absolute;
    bottom: 10rem;
    z-index: 99;
    width: 60px;
    height: 60px;
    transform-origin: right top;
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.weichat-qr-code:hover::after {
    transform: scale(0.25);
    opacity: 1;
}